<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Корзина товаров</title>
</head>

<body>
<a href="/orders">
    <b>Заказы</b>
</a>
&nbsp;&nbsp;
<a href="/main/items">
    <b>На главную</b>
</a>
<br>
<table style="width:70%;margin-left:auto;margin-right:auto;" th:each="itemDto : ${items}">
    <table>
        <tr>
            <a th:href="${'/items/'+itemDto.getId()}">
                <img th:src="@{/{itemDtoId}/image(itemDtoId=${itemDto.id})}" width="300" height="300">
            </a>
        </tr>
        <br>
        <tr width="100">
            <b th:text="'Название: ' + ${itemDto.getName()}"></b>
        </tr>
        <br>
        <tr width="100">
            <b th:text="'Описание: ' + ${itemDto.getDescription()}"></b>
        </tr>
        <br>
        <tr width="100">
            <b th:text="'Цена: ' + ${itemDto.getPrice()}+' ₽'"></b>
        </tr>
        <br>
        <form th:action="@{/item/{id}/minus(id=${itemDto.id})}" method="POST">
            <button type="submit" name="pageName" th:value="CART">-</button>
        </form>
        &nbsp;
        <span th:text="${itemDto.amount}"></span>
        &nbsp;
        <form th:action="@{/item/{id}/plus(id=${itemDto.id})}" method="POST">
            <button type="submit" name="pageName" th:value="CART">+</button>
        </form>

        <form th:action="@{/item/{id}/plus(id=${itemDto.id})}" method="POST">
            <button type="submit" name="pageName" th:value="CART">+</button>
        </form>

        <form th:action="@{/cart/remove/{id}(id=${itemDto.id})}" method="POST">
            <button type="submit" name="pageName" th:value="CART">Удалить из корзины</button>
        </form>
        &nbsp;
    </table>

</table>
<br>
<form action="/createOrder" method="post">
    <button>Купить</button>
</form>
<b th:text="'Итого: '+${total}+' ₽'"></b>
</body>

</html>