<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Витрина товаров</title>
</head>

<body>
<a href="/orders">
    <b>Заказы</b>
</a>
&nbsp;&nbsp;
<a href="/cart/items">
    <b>Корзина</b>
</a>
&nbsp;&nbsp;
<a href="/main/items">
    <b>На главную</b>
</a>
<p>
    <img th:src="@{/{itemDtoId}/image(itemDtoId=${itemDto.id})}" width="300" height="300"/>
</p>
<p>
    <b th:text="'Название: ' + ${itemDto.getName()}"></b>
</p>
<p>
    <span th:text="'Описание: ' + ${itemDto.getDescription()}"></span>
</p>
<p>
    <b th:text="'Цена: ' + ${itemDto.getPrice()}+' ₽'" style="text-align:right;"></b>
</p>
<p>
<form th:action="@{/item/{id}/minus(id=${itemDto.id})}" method="POST">
    <button type="submit" name="pageName" th:value="ITEM">-</button>
</form>
&nbsp;
<span th:text="${itemDto.amount}"></span>
&nbsp;
<form th:action="@{/item/{id}/plus(id=${itemDto.id})}" method="POST">
    <button type="submit" name="pageName" th:value="ITEM">+</button>
</form>
&nbsp;
<form th:action="@{/cart/add/{id}(id=${itemDto.id})}" method="POST">
    <button type="submit" name="pageName" th:value="ITEM">Добавить в корзину</button>
</form>

<form th:action="@{/cart/remove/{id}(id=${itemDto.id})}" method="POST">
    <button type="submit" name="pageName" th:value="ITEM">Удалить из корзины</button>
</form>
</p>
</div>
</body>

</html>