<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заказ</title>
</head>

<body>
<a href="/orders">
    <b>Заказы</b>
</a>
&nbsp;&nbsp;
<a href="/main/items">
    <b>На главную</b>
</a>
<br>
<!--<h2>Успешная покупка</h2>-->
<h2 th:text="${'Заказ № '+ order.getId()}"></h2>

<table th:each="orderItem : ${order.getOrderItems()}" style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <a th:href="${'/items/'+orderItem.getItemDto().getId()}">
            <img th:src="@{/{itemDtoId}/image(itemDtoId=${orderItem.getItemDto().id})}" width="300" height="300">
        </a>
    </tr>
    <br>
    <tr width="100">
        <b th:text="'Название: ' + ${orderItem.getItemDto().getName()}"></b>
    </tr>
    <br>
    <tr width="100">
        <b th:text="'Описание: ' + ${orderItem.getItemDto().getDescription()}"></b>
    </tr>
    <br>
    <tr width="100">
        <b th:text="'Цена: ' + ${orderItem.getItemDto().getPrice()}+' ₽'"></b>
    </tr>
    <br>
    <tr>
        <b th:text="${'Общая стоимость товара: '+orderItem.getItemDto().getPrice()*orderItem.getItemAmount()}+' ₽'"></b>
    </tr>
</table>

<b th:text="'Итоговая сумма заказа: ' + ${order.getTotalSum()}+' ₽'"></b>
</body>

</html>