<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Корзина товаров</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        table {
            width: 20%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        button {
            margin-top: 10px;
            cursor: pointer;
        }
        p {
            display: inline;
        }
    </style>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>Заказы</b>
</a>
<br/>
<a href="/main/items" style="float:right;">
    <b>На главную</b>
</a>
<br>
<table th:each="itemDto : ${items}">
    <table>
        <tr>
            <a th:href="${'/items/'+itemDto.getId()}">
                <img th:src="@{/image/{imageId}(imageId=${itemDto.imageId})}" width="300" height="300">
            </a>
        </tr>
        <br>
        <tr width="100">
            <p th:text="'Название: ' + ${itemDto.getName()}"></p>
        </tr>
        <br>
        <tr width="100">
            <p th:text="'Описание: ' + ${itemDto.getDescription()}"></p>
        </tr>
        <br>
        <tr width="100">
            <p th:text="'Цена: ' + ${itemDto.getPriceFormatted()} + ' ₽'"></p>
        </tr>
        <br>
        <form th:action="@{/item/{id}/minus(id=${itemDto.id})}" method="POST">
            <button type="submit" name="pageName" th:value="CART">-</button>
        </form>
        &nbsp;
        <span th:text="${itemDto.amount}"></span>
        &nbsp;
        <form th:action="@{/item/{id}/plus(id=${itemDto.id})}" method="POST">
            <button type="submit" name="pageName" th:value="CART">+</button>
        </form>
        &nbsp;
        <form th:action="@{/cart/remove/{id}(id=${itemDto.id})}" method="POST">
            <button type="submit" name="pageName" th:value="CART">Удалить из корзины</button>
        </form>
    </table>
</table>

<b th:text="'Итого: ' + ${totalPriceFormatted} + ' ₽'"></b>
<form th:if="${isPaymentServiceAvailable}" action="/create-order" method="post">
    <button>Купить</button>
</form>
<br/><br/>
<b th:if="!(${isPaymentServiceAvailable})" th:text="'Невозможно сейчас сделать заказ - сервис платежей недоступен!'"></b>
</body>
</html>